body {
  background-image: url("../images/For.jpg"); /* поднимемся на уровень выше и зайдём в images */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
}